{{define "base"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    <div class="wrapper">
    {{template "mobile-nav" .}}
    {{template "main-nav" . }}
        {{ template "home-header" .}}
        <main id="content">
            {{template "content" . }}
             {{ template "video" . }}
            {{template "home-services" .}}
            {{ template "section-lightbox" .}}
            
        </main>
        {{template "footer" .}}
        {{template "back-to-top" .}}
    </div>   
</body>
</html>
{{end}}
