:root {
    --nav-transition-speed: 350ms;
}

@keyframes animateBtn {
    0% {
        transform: rotateZ(-45deg);
    }

    100% {
        transform: rotateZ(-45deg) scaleX(3) scaleY(2);
    }
    /* 100% {
        transform: rotateZ(-45deg);
    } */
}

.nav-bar {
    background: var(--drab-dark-brown);
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    padding-inline: 0.5rem;
    &.mobile {
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        .row {
            display: grid;
            grid-template-columns: 4fr 1fr;
            place-items: center;
        }
        @media screen and (min-width: calc(766 / 16 * 1rem)) {
            display: none;
        }
    }
    &.desktop {
        display: none;
        @media screen and (min-width: calc(767 / 16 * 1rem)) {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            .btn {
                &.phone {
                    margin-left: auto;
                    margin-right: 1rem;
                }
            }
        }
    }
    &__main-nav {
        &__group {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: var(--spacing-md);
            list-style: none;
            padding: 0;
            &.mobile {
                flex-flow: column nowrap;
            }
        }
        &__item {
            display: flex;
            flex-flow: column nowrap;
            position: relative;
            ul {
                background: rgba(255,255,255,0.8);
                box-shadow: 0 0 10px -5px #000;
                padding: 0;
                position: absolute;
                top: calc(100%);
                left: 0;
                width: 100%;
                overflow:hidden;
                display: flex;
                flex: none;
                width: auto;
                transition: all 350ms;
                max-height: 0;
                opacity: 0;
                transform: translateY(10%);
                li {
                    width: max-content;
                    padding-block: var(--spacing-sm);
                    padding-inline: var(--spacing-sm);
                    a {
                        transition: all 250ms;
                        &:hover,
                        &:active {
                            box-shadow: 0px 4px 0 0 var(--golden-brown);
                        }
                    }
                   
                }
                > * > * {
                    color: var(--black);
                }
            }
            transition: all 250ms;
            &:hover,
            &:active {
                box-shadow: 0px -2px 0 0 var(--golden-brown),
                            0px -4px 0 0 var(--sunset);
            }
            &:hover,
            &:active,
            &:focus {
                ul {
                    max-height: fit-content;
                    opacity: 1;
                    transition: all 250ms;
                    transform: translateY(0);
                   
                }
            }
            &.mobile {
                max-width: 100%;
                width: 100%;
                ul {
                    padding-inline-start: var(--spacing-default);
                    position: initial;
                    opacity: initial;
                    height: 0;
                    max-height: none;
                    top: initial;
                    left: initial;
                    transform: initial;
                    transition: all 250ms;
                    li {
                        width: 100%;
                    }
                    &.active {
                        transition: inherit;
                        height: fit-content;
                    }
                }
            }
        }
        &__link {
            color: #fff;
            padding-inline: var(--spacing-xs);
            padding-block: var(--spacing-xs);
            padding: var(--spacing-xs);
            text-decoration: none;
            text-transform: uppercase;
            flex: 1 1 auto;
            &.parent {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: var(--spacing-xs);
                + ul {
                    flex-flow: column nowrap;
                    li {
                        &:hover,
                        &:active {
                            box-shadow: none;
                        }
                    }
                }
                > .icon {
                    &.nav-arrow-down {
                        height: 1.5rem;
                        width: 1.5rem;
                        path {
                            stroke: #fff;
                            stroke-width: calc(2 / 16 * 1rem);
                        }
                    }
                }
            }
            
        }
        &.mobile {
            transition: all 350ms;
            height: 0;
            overflow: hidden;
        }
    }
    #navToggle {
        background: transparent;
        border: 1px solid transparent;
        color: var(--sunset);
        cursor: pointer;
        display: grid;
        place-items: center;
        height: calc(40 / 16 * 1rem);
        width: calc(40 / 16  * 1rem);
        margin-right: 1rem;
        margin-left: auto;
        display: grid;
        padding: unset;
        text-align: center;
        place-items: center;
        transition: all var(--nav-transition-speed);
        @media screen and (min-width: calc(968 / 16 * 1rem)) {
            display: none;
        }
        > * {
            transform: rotateZ(0deg);
            transition: inherit;
        }
        &:hover,
        &:active,
        &:focus {
            background: var(--sunset);
            border-color:var(--golden-brown);
        }
        &:focus {
            background: transparent;
            outline: 1px dotted #000;
        }

        .hamburger {
            transition: all var(--nav-transition-speed);
            stroke: var(--sunset);

            path {
                stroke: var(--sunset);
            }
            .active {
                stroke: var(--sunset);

            }
        }

    }
}



