{{define "address"}}
<h3>Contact Us</h3>
<address>
    <ul>
        <li>{{index .StringMap "SiteTitle"}}</li>
        <li>P.O. Box #47</li>
        <li>Lake Leelanau, MI 49653</li>
        <li><a href="tel:+12313576340" title="call PC Building Company" aria-label="call P.C. Building Company">(231) 357-6340</a></li>
    </ul>
</address>
{{ end}}
