{{ define "aside"}}
<aside class="sidebar">
    <div class="sidebar__card">
        <header>
            <hgroup>
                <h3>Schedule Your Free Consultation</h3>
                <p>Your dream remodel is just a call away. Schedule a free, no obligation consultation now.</p>
            </hgroup>
        </header>
        {{template "phone" .}}
    </div>
</aside>
{{end}}