{{define "footer-social"}}
<h3>Find Us</h3>
                <ul class="social-links">
                    <li><a href="#" title="link to: facebook" aria-label="link to: facebook">{{template "icon-facebook" . }}</a></li>
                    <li><a href="#" title="link to: instagram" aria-label="link to: instagram">{{template "icon-instagram" . }}</a></li>
                    <li><a href="#" title="link to: x" aria-label="link to: x">{{template "icon-x" . }}</a></li>
                    <li><a href="#" title="link to: yelp" aria-label="link to: yelp">{{template "icon-yelp" . }}</a></li>
                    <li><a href="#" title="link to: tiktok" aria-label="link to: tiktok">{{template "icon-tiktok" . }}</a></li>
                </ul>
{{ end}}