{{define "section-lightbox" }}
<section class="gallery" id="gallery">
<div class="container">
    <div class="row">
        <div class="col">
            <hgroup>
                <h2>Our Work</h2>
                <p>Check out some of our latest remodel and builder work from around Leelanau County, Michigan.</p>
                <hr />
            </hgroup>
        </div>
    </div>
    <div class="row">
        {{ $thumbnails := "static/images/2026/09/output/*_360x360.webp" | getImages }}
        {{ $fullsize := "static/images/2026/09/output/*_1920x1080.webp" | getImages }}
        <div class="pswp-gallery pswp-gallery--single-column" id="galleryWork">
            {{ with $thumbnails }}
                {{ range $i, $v := . }}
                    {{ $large := index $fullsize $i }}
                    <a href="{{ $large.Name }}" 
              data-pswp-width="{{$large.Width}}" 
              data-pswp-height="{{ $large.Height}}" 
              title="{{ $large.Alt }}"
              aria-label="{{ $large.Alt }}"
              target="_blank">
              <img 
                data-src="{{$v.Name}}" 
                alt="{{$v.Alt}}" 
                height="{{$v.Height}}" 
                width="{{$v.Width}}" 
                loading="lazy" 
                decoding="async" />
            </a>
                {{ end }}
            {{ end }}
    </div>
          </div>
            
</div>
</section>

{{ end }}

