{{define "section-lightbox" }}
{{ $gallery := .Data.Gallery }}
{{ $title := $gallery.Title }}
{{ $description := $gallery.Description }}
{{ $images := $gallery.Images }}
<section class="gallery" id="gallery">
<div class="container">
    <div class="row">
        <div class="col">
            <hgroup>
                <h2>{{ $title | safeHTML }}</h2>
                <p>{{ $description | safeHTML }}</p>
                <hr />
            </hgroup>
        </div>
    </div>
    <div class="row">
        <div class="pswp-gallery pswp-gallery--single-column" id="galleryWork">
            {{ with $images }}
                {{ range $i, $v := . }}
                    <a href="{{ $v.Fullsize |safeHTML }}" 
              data-pswp-width="{{$v.FullsWidth }}" 
              data-pswp-height="{{ $v.FullsHeight }}" 
              title="{{ $v.Description | safeHTML }}"
              aria-label="{{ $v.Description | safeHTML }}"
              target="_blank">
              <img 
                data-src="{{$v.Thumbnail | safeHTML }}" 
                alt="{{$v.Description | safeHTML }}" 
                height="{{$v.ThumbHeight }}" 
                width="{{$v.ThumbWidth }}" 
                loading="lazy" 
                decoding="async" />
                <div><p>{{$v.Description | safeHTML }}</p></div>
            </a>
                {{ end }}
            {{ end }}
    </div>
          </div>
            
</div>
</section>

{{ end }}

